.profile {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #0c0d0e;
  padding-top: 20px;
  margin-bottom: 40px;
}

.avatar {
  border: 16px solid var(--yellow-main);
  border-radius: 197px;
  width: 200px;
  height: 200px;
  background-color: rgb(31, 30, 30);
  margin-bottom: 10px;
}

.name {
  font-weight: 600;
  font-size: 40px;
  color: #2c2c2c;
  margin-bottom: 8px;
}

.tag,
.location {
  font-weight: 500;
  font-size: 30px;
  color: #696868;
  margin: 0 auto;
  margin-bottom: 4px;
}

.list {
  display: flex;
  max-width: 500px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  height: 130px;
  border-color: #464444;
  border-bottom: none;
  background: #b8b2b2;
  margin-top: 20px;
}

.statistics,
.number {
  font-size: 30px;
  color: #0a0a0a;
}

.statistics {
  font-weight: 500;
}

.number {
  font-weight: 700;
}
