.table,
.tbody,
.thead {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  font-size: 20px;
  background-color: rgb(43, 42, 42);
}

.tbody {
  font-size: 18px;
  color: black;
}

.status {
  background-color: rgb(157, 160, 160);
}
